.generalDataContainer{
    width: 100%;
    height: 400px;
    background-color: rgb(145, 145, 211);
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}
.generalDataForm{

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    

}